<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of stock</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${listTable}">
        <td th:text="${item.getDayOfBirth()}"></td>
        <td th:text="${item.getDayOfDie()}"></td>
        <td th:text="${item.getLastName()}"></td>
        <td th:text="${item.getName()}"></td>

    </tr>
    </tbody>


</body>
</html>