<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Pixam Express</h1>
<span>
    <a href="/">Order</a>
    <a href="/statistics">Statistics</a>

</span>

<form action="/" method="post" th:object="${newOrder}">
    <label for="name">Name</label>
    <input id="name" type="text" th:field="*{name}" >
    <br>
    <label for="address">Address</label>
    <input id="address" type="text" th:field="*{address}">

    <br>
    <h3><label for="menu">Menu</label> </h3>

    <div class="radio" id="menu">
        <div th:each="type: ${pizzas}">
            <input type="radio" th:field="*{pizza}" th:value="${type}">
            <label th:for="${#ids.prev('pizza')}" th:text="${type}"></label>
        </div>


    </div>
    <br>
    <button type="submit">Order</button>
</form>

</body>
</html>