<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise#</title>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        <th>Index</th>
        <th>Owner</th>
        <th>Balance</th>
        <th>Animal Type</th>
        <th>King</th>
    <tr th:each="account : ${listOfAccount}" th:style="${account.isKing()}?${shiny}">
        <td th:text="${accountStat.index}"></td>
        <td th:text="*{account.getName()"></td>
        <td th:text="|*{#numbers.formatDecimal(account.getBalance(), 1, 'POINT', 2, 'COMMA')}${currency}|"></td>
        <td th:text="*{account.getAnimalType()}"></td>
        <td th:text="*{account.isKing()}"></td>


    </tr>
</table>

</body>
</html>