<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
     <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<h1>What you want to get DONE?</h1>
<thead>
<tr>
</tr>
</thead>

<tr>
    <br>
    <form action="/add" th:object="${newTodo}" method="POST">
        <td></td>
        <br>
       Title: <td><input type="text" th:field="*{title}"></td>
        <br>
        <br>
      IS IT URGENT?  <td><input type="checkbox" th:field="*{urgent}" th:value="*{urgent}"></td>
        <td></td>
        <td></td>
        <br>
        <br>
        <td><input type="submit" class="btn btn-info" value="Add to ToDo List"></td>
    </form>
         <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
</body>  <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>